body
{
    display: grid;
    place-items: center;
    background-image: url('../Images/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 98vh;
}

.logout
{
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-color: white ;
    background-color: white;
    border-collapse:  separate;
    border-radius: 10px;
    padding: 10px;
    opacity: .95;
    position: absolute;
    top: 20px;
    right: 20px;

}

#Users
{
    border-bottom: solid 1px;
    border-right: solid 1px;
    border-top: solid 1px;
    border-left: solid 1px;
    border-color: white ;
    border-radius: 10px;
    border-collapse:  separate;
    height: 800px;
    width: 1200px;
    background-color: white;
    opacity: .7;
    position: relative;
    overflow: auto;
}

a
{
    text-decoration: none;
    color: black;
    font-size: 35px;
}

table
{
    width: 100%;
    border-collapse: collapse;
}

table, td, th
{
    border: 2px solid rgb(71, 57, 83);
    padding: 5px;
    table-layout: fixed;
}

th
{
    font-size: 30px;
}

th, td
{
    text-align: center;
}

td
{
    font-size: 20px;
}

button
{
    font-size: 20px;
}

textarea
{
    background: transparent;
    box-sizing: border-box;
    border: none;
    height: 80px;
    width: 100%;
    outline: 0px solid transparent;
    resize: none;
}

